/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp Q       &kp W    &kp E      &kp R    &kp T      &kp Y       &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S    &kp D      &kp F    &kp G      &kp H       &kp J       &kp K       &kp L       &kp RET    
                &kp Z       &kp X    &kp C      &kp V    &kp B      &kp N       &kp M       &kp LT      &kp GT
                &kp LCTL    &kp LGUI &kp LALT   &mo 1    &kp SPC    &mo 2       &kp RALT    &kp RGUI    &kp RCTL
            >;
        };

        layer_1 { // Layer 1
            bindings = <
                &trans      &trans   &trans     &trans   &trans     &trans      &trans      &trans      &trans     &trans
                &trans      &trans   &trans     &trans   &trans     &trans      &trans      &trans      &trans     &trans
                &trans      &trans   &trans     &trans   &trans     &trans      &trans      &trans      &trans     
                &trans      &trans   &trans     &trans   &trans     &trans      &trans      &trans      &trans     
            >;
        };

        layer_2 { // Layer 1
            bindings = <
                &trans      &trans   &trans     &trans   &trans     &trans      &trans      &trans      &trans     &trans
                &trans      &trans   &trans     &trans   &trans     &trans      &trans      &trans      &trans     &trans
                &trans      &trans   &trans     &trans   &trans     &trans      &trans      &trans      &trans     
                &trans      &trans   &trans     &trans   &trans     &trans      &trans      &trans      &bootloader     
            >;
        };

    };
 };